* {
	box-sizing: border-box;
}

header [role"top-row"]::before, header [role"top-row"]:after { 
	display: table;
	content: '';
 }

article::before, article::after {
	display: table;
	content: '';
}

header [role"top-row"]::after {
	clear: both;
}

section::after {
	clear: both;
}

.col-4, .col-12 {
	float: left;
	padding-right: 1.04166666%;
	padding-left: 1,04166666%;
}

.col-4, .col-12 {
	width: 100%;
} 

@media only screen and (min-width: 640px) {
 .col-4 {
    width: 33.33%;
  }

.col-12 {
	width: 100%;
	}
}

